@tailwind base;
@tailwind components;
@tailwind utilities;

// sample1
.mainContainer{
    width : 390px ;
    margin: 0 auto;
    background-color: #ffffff;
    color: black;
    
}
.coupleName{
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 28px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}
.name-bar{
    width : 100px;
    height: 2px;
    background-color: #9b6738;
    margin: auto
}
.text-bar{
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    text-align: center;
    margin-top: 40px;
}
.text{
    text-align: center;
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

}
.thankContent{
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.tab-bar {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}

.tab-button {
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tab-button.active {
  border-bottom: 2px solid #007bff;
}
.tab-content {
    display: none;
  }
  
.tab-content-item.active {
    display: block;
  }
.tab-box{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // border-bottom: 2px solid rgba(229,229,229);
  font-size: 16px;
  
  position: relative;
}
.tab-box .tab_btn{
  font-size: 20px;
  font-weight: 600;
  color: #919191;
  background: none;
  border: none;
  padding: 18px;
  cursor: pointer;
}
.content-box{
  padding: 20px;
}
.content-box .content{ 
  display: none;
  animation: moving .5s ease-in-out;
}
@keyframes moving{
  from{transform: translateX(50px); opacity: 0;}
  to{transform: translateX(0px); opacity:1;}
}
.content-box .content.active{ 
  display: block;
}
.content-box .content h2{ 
  margin-bottom: 10px;
}
.tab-box .tab_btn.active{
  // color: black;
  color: #000;
  font-weight: 600;
}
.line{
  position: absolute;
  top: 55px;
  left: 50px;
  width: 120px;
  height: 5px;
  background-color: #9b6738;
  border-radius: 10px;
  transition: all .3s ease-in-out;
}
.header{
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
}
.vertical-line{
  width: 1px;
  height: 35px;
  background-color: #9b6738;
  margin: auto;
  margin-top: 5px;
}
.event-text{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
}
.event{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  
}
.map-content{
  // padding: 15px 25px;
  padding-right: 20px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid black;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  // background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  // -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  // box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
  margin-left: 90px;
  margin-top: 20px;
}

.map-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 .map-content:hover {
  color: #e8e8e8;
 }
 
 .map-content:hover::before {
  width: 100%;
 }
.bar{
  width: 80px;
  height: 1px;
  background-color: #9b6738;
}
.mid-text{
  padding-left: 10px;
  padding-right: 10px;
  // text-align: center;
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}
.row-content{
  margin-top: 30px;
  margin-bottom: 30px;
}
.qr-code{
  width: 320px;
  height: 480px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.1);
  border-radius: 24px;
  margin: auto;
}
.main-qr{
  margin-top: 20px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.1);
}
.app-power{
  text-align: center;
  margin-top: 60px;
}
.logo-size{
  width: 52px;
  height: 52px;
  margin-right: 5px;
  border-radius: 50%;
  
}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

tr{

    text-align: center;
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
body{
    background-color: #f1f4f8;
}

// end of sample 1


// sample 2
.main-container{
  width: 390px;
  margin: auto;
  background-image: url("/asset/sample2-background.jpg"); /* Replace with your image path */
  // background-size: cover;
  background-attachment: fixed; /* Optional: Keeps the background fixed while scrolling */
  overflow-y: auto;
}
.flower-top{
  width: 390px;
  height: 200px;
}
.wedding{
  font-family: "Moul", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #607c6b;
  text-align: center;
  margin-top: 30px;
}
.couple-logo{
  width: 131px ;
  height: 140px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.groom-bride{
  font-family: "Khmer", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #607c6b;
}
.name-groombride{
  font-family: "Moul", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #607c6b;
  margin-top: 30px;

}
.couple-table{
  border-collapse: collapse;
  width: 100%;
}
.invite{
  font-family: "Khmer", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #607c6b;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.invite-date{
  font-family: "Moul", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #607c6b;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 240px;
}
.mid-text2{
  font-family: "Moul", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #607c6b;
  // text-align: center;
  margin-right: 25px;
  margin-left: 25px;
}
.bar2{
  width: 100px;
  height: 1px;
  background-color:#607c6b;
}
.main-gallery{
  margin: auto;
}
.mar-bot{
  margin-bottom: 180px;
}
.parent-name{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  
}
.top-name{
  font-family: "Moul", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #607c6b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // height: 50px;
  // font-size: 24px;
  margin-left: 20px;
  margin-right: 30px;
}
.down-name{
  font-family: "Moul", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #607c6b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // height: 50px;
  // font-size: 24px;
  margin-left: 20px;
  margin-right: 20px;
}
.thanks-text{
  font-family: "Khmer", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #607c6b;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
}
.top-groom{
  font-family: "Khmer", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #607c6b;
}
.grooms-name{
  font-family: "Moul", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #607c6b;
}
.weddings{
  font-family: "Moul", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #607c6b;
  text-align: center;
  margin-top: 230px;
  margin-bottom: 30px;
}
.tab-button {
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tab-button.active {
  border-bottom: 2px solid #007bff;
}

.tab-box .tab_btn2.active{
  // color: black;
  color: #607c6b;
  font-weight: 600;
}

.tab-box .tab_btn2{
  font-size: 20px;
  font-weight: 600;
  color: #919191;
  background: none;
  border: none;
  padding: 18px;
  cursor: pointer;
}
// sample3 style

.main-background{
  width: 390px;
  margin: auto;
  background-image: url("/asset/sample3-background.png"); /* Replace with your image path */
  // background-size: cover;
  background-attachment: fixed; /* Optional: Keeps the background fixed while scrolling */
  overflow-y: auto;
}

.wedding-title{
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  margin-top: 140px;
  text-align: center;
}

.couples-pics{
  width: 390px;
  height: 261px;
  object-fit: contain;
  margin-top: 10px;
}

.couples-name{
  font-family: "Alex Brush", cursive;
  font-weight: 600;
  font-style: normal;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 32px;
  text-align: center;
}

.name-bar3{
  width : 100px;
  height: 2px;
  background-color: black;
  margin: auto
}

.wedding-pics{
  margin-top: 160px;
  width: 308px;
  height: 96px;
  margin: auto;
  margin-bottom: 15px;
}

.month{
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  text-align: center;
}

.date-line{
  width: 100px;
  height: 0.5px;
  background-color: black;
}

.date-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif; /* Adjust font as needed */
  // color: #333; /* Adjust text color as needed */
}

.day, .date, .time, .year {
  margin: 0 10px;
}

.dates-line{
  width: 100px;
  height: 0.5px;
  background-color: black;
}
// .date {
//   font-weight: bold;
// }

.wedding-timelines{
  width: 336px;
  height: 104px;
  object-fit:cover;
  margin: auto;
  margin-top: 200px;
}

// sample 4

// .main-background4 {
//   width: 390px;
//   margin: auto;
//   background-image: url("/asset/sample4-background.jpg"); /* Replace with your image path */
//   background-size: contain;
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-attachment: fixed; /* Optional: Keeps the background fixed while scrolling */
//   overflow-y: auto; /* Enables vertical scrolling if needed */
// }
// .sub-background{
//   background-color: #7e101213;
//   width: 390px;
// }

.main-background4 {
  width: 390px;
  margin: auto;
  background-image: url("/asset/sample4-background.jpg"); /* Replace with your image path */
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // filter: blur(8px)   
  // saturate(1.2) brightness(0.9);
}

.sub-background {
  /* Add styling for the sub-background element here */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  // filter: none; /* Remove blur from text */
}


.wedding-khmer{
  font-family: "Moul", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: white;
  padding-top: 180px;
  text-align: center;
}

.tab-box .tab_btn4.active{
  // color: black;
  color: white;
  font-weight: 600;
}

.tab-box .tab_btn4{
  font-size: 20px;
  font-weight: 600;
  color: #919191;
  background: none;
  border: none;
  padding: 18px;
  cursor: pointer;
}

//sample5 style

.main-container5{
  width: 390px;
  margin: auto;
  background-image: url("/asset/sample5-background.png"); /* Replace with your image path */
  background-size: contain;
  background-attachment: fixed; /* Optional: Keeps the background fixed while scrolling */
  overflow-y: auto;
}

.welcome-text{
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
  font-size:16px;
  text-align: center;
}
.couple5-name{
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  text-align: center;
}


//sample6

.main-container6{
  background-color: white;
  width: 390px;
  margin: auto;
}

.wel-wedding{
  font-family: "Battambang", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  color: #d8ad83;
  text-align: center;
}

img:hover{
  cursor: pointer;
  filter: brightness(70%);
}

// #FullImageView {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.8); /* Adjust the background color if needed */
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// #FullImage {
//   max-width: 90%; /* Adjust the maximum width as needed */
//   max-height: 90%; /* Adjust the maximum height as needed */
//   object-fit: contain; /* Maintain aspect ratio and fit within container */
// }

#FullImageView {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center; /* Optional, but can be useful for centering other elements within the container */
  align-items: center; /* Optional, but can be useful for centering other elements within the container */
}

#FullImage {
  margin: 0 auto; /* Center the image horizontally */
  max-width: 98%;
  max-height: 98%;
  padding: 24px;
}

#closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px;
  cursor: pointer;
}